<strong>All Movies</strong>
<br>
<% @movies.each do |m| %>

<li><%= m.title %></li>

<% end %>

<%= link_to "homepage", homepage_path %>

<% if current_user %>
    <%= link_to "My Page", user_path(current_user)%>
<% end %>