<strong>Movies</strong>
<br>
<% @movies.each do |m| %>

<li><%= m.title %> | <%= link_to "More Details", movie_path(m.id) %></li>


<% end %>

<%= link_to "homepage", homepage_path %>

<% if current_user %>
    <%= link_to "My Page", user_path(current_user)%>
<% end %>